<script setup lang="ts">
import FrameProfilePop from "@/components/FrameProfilePop.vue";
import { ref, computed } from "vue";
const frameLangList = ref([
  {
    name: "Java",
    img: "https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/181_Java_logo_logos-512.png",
    rating: 60,
  },
  {
    name: "Html",
    img: "https://cdn-icons-png.flaticon.com/512/174/174854.png",
    rating: 30,
  },
  {
    name: "Python",
    img: "https://assets.stickpng.com/images/5848152fcef1014c0b5e4967.png",
    rating: 30,
  },
]);
</script>
<template>
  <div style="border: 1px solid lightpink">
    <v-container style="border: 1px solid lightpink">
      <v-parallax src="https://wallpapercave.com/dwp1x/wp6195097.jpg">
        <div>
          <h1
            style="
              text-align: center;
              font-family: Impact, Haettenschweiler, 'Arial Narrow Bold',
                sans-serif;
              font-size: 40pt;
              color: lightpink;
              text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            "
          >
            Port Folio
          </h1>
        </div>
        <div justify="center">
          <v-container style="border: 1px solid lightpink">
            <v-row justify="center">
              <v-img
                lazy-src="https://img.freepik.com/free-photo/golden-lighting-effect-background_1340-8920.jpg?w=1060&t=st=1671477079~exp=1671477679~hmac=11f9b99565ca8b2fc79130cdd5e6bde113a35ee6f2ebe11e52efb587e18a6314"
                max-height="250"
                max-width="500"
                src="https://scontent.fbkk30-1.fna.fbcdn.net/v/t39.30808-6/275433601_2832462633720923_9087047462990892301_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeHkQLD9Q2ypij2W6XTDiKqJDjrNU5RNHpUOOs1TlE0elWYRvgSMQneCKEklz6O2XXCDH_2XPgfP4v3-YutIt2Ai&_nc_ohc=S14yL2t26DMAX-PtKHY&_nc_ht=scontent.fbkk30-1.fna&oh=00_AfCnsIPM2tRhC6UqkPPd74c2v06gVHVY9V_977Sk7ce60w&oe=63A2B61F"
              ></v-img>
            </v-row>
          </v-container>
        </div>
        <div>
          <v-container style="border: 1px solid lightpink">
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              ชื่อ : นายศักดิธัช ทองเมือง
            </h2>
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              ชื่อเล่น : โฟกัส อายุ : 20 ปี
            </h2>
          </v-container>
        </div>
        <div>
          <v-container style="border: 1px solid lightpink">
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              ปัจจุบันศึกษาที่ : มหาวิทยาลัยบูรพา
            </h2>
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              คณะ : วิทยาการสารสนเทศ
            </h2>
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              สาขา : วิทยาการคอมพิวเตอร์
            </h2>
          </v-container>
        </div>
        <div>
          <v-container>
            <h2
              style="
                text-align: center;
                color: lightpink;
                text-shadow: -1px 0 black, 0 1px black, 1px 0 black,
                  0 -1px black;
              "
            >
              ความสามารถพิเศษ
            </h2>
            <br />
            <v-row>
              <v-col v-for="(item, index) of frameLangList" :key="index">
                <FrameProfilePop
                  :name="item.name"
                  :img="item.img"
                  :rating="item.rating"
                  :index="index"
                ></FrameProfilePop>
              </v-col>
            </v-row>
            <v-row justify="center">
              <v-col cols="6">
                <v-table>
                  <thead>
                    <tr>
                      <th>Rating</th>
                      <th>Languaue</th>
                      <th>Score</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(item, index) of frameLangList" :key="index">
                      <td>{{ index + 1 }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.rating }}</td>
                    </tr>
                  </tbody>
                </v-table>
              </v-col>
            </v-row>
          </v-container>
        </div>
      </v-parallax>
    </v-container>
  </div>
</template>
