<script setup lang="ts">
import { ref } from "vue";

//defineProps แบบ generic type : <>
const p = withDefaults(
  defineProps<{
    name: string;
    img: string;
    rating: number;
    index: number;
  }>(),
  {
    rating: 10,
  }
);

const em = defineEmits<{
  (e: "change", index: number, rating: number): void;
}>();

/*
//defineProps แบบ Runtime props
const props = defineProps({
  name: {
    type: String,
    required: true,
  },
  img: {
    type: String,
    required: true,
  },
  rating: {
    type: Number,
    required: true,
    default: 10,
  },
});*/
const count = ref(p.rating);
function inc() {
  count.value++;
  em("change", p.index, count.value);
}
function dec() {
  count.value--;
  em("change", p.index, count.value);
}
</script>
<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="p.img" height="200px" width="auto"></v-img>
    <v-card-item>
      <div class="text-center">
        <div class="text-h6 mb-1 text-blue-accent-3">{{ p.name }}</div>
        <div class="text-caption text-blue-accent-3">Score: {{ p.rating }}</div>
      </div>
    </v-card-item>
  </v-card>
</template>
